*{
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .banner-offer{
    background-color: #dd2525;
    width: 100%;
    height: 60px;
  }
  .banner-offer h5{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding-top: 15px;
    margin-left: 50px;
    font-size: medium;
  }
  #top{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: right;
    margin-right: 30px;
    font-size: medium;
  }
  .header{
    width:100%;
    height:100vh;
    background-size: cover;
  }
  nav{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  nav ul li:hover{
    background-color:rgb(216, 223, 223);
  }
  nav ul li a{
    text-decoration: none;
    color: #141313;
    padding: 30px;
  }
/* Hero  */

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-image: url("./images/couresel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 90px;
}

.hero-title { margin-bottom: 20px;
color: white;
text-decoration: double;
font-style:oblique;
font-size: 50px;
text-transform: uppercase; }

.hero-text {
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}
.btn {
width: 160px;
height: 60px;
border-radius: 50px;
}
.btn-primary{
  background-color: blue;
  color: white;
  font-size: 15px;
}
.btn-secondary{
  background-color: transparent;
  color: white;
  font-size: 15px;

}

  #coursel-h{
    position: absolute;
    top: 8px;
    left: 16px;
    padding-top: 460px;
    margin-left: 170px;
  }
  .card-container {
    display: flex;
    margin-left: 200px;
    justify-content: space-between;
    margin-right: 100px;
    display: grid;

grid-template-columns: repeat(3, 1fr);
    
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
  }
  
  .card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-content p {
    margin-bottom: 5px;
  }
  
  .card-content button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .card-content button:hover {
    background-color: #2980b9;
  }
  


/* Footer */

.main-card{
  padding-top: 0px;
}

.contact-us{
  height: 190px;
  margin-left: 
  25px;
  padding-top: 200px;
  background-color: #ffffff;
}

#contact-details{
  display: flex;
  justify-content: space-between;
}
.contact-us h5{
 text-align: center;
 font-size: 30px;
 color: coral;
 text-decoration-line: underline;
}
.contact-us p{
  text-align: center;
  font-size: 20px;

}

#cc-details{
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#cc-details h4{ 
text-align: center;
}
.tour-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: max-content;
  margin-left: 4px;
}

#tour-image {
  position: relative;
}

.tour-image img {
  display: block;
  width: 100%;
}

.love-emoji {
  border-radius: 50%;
  height: 45px;
  line-height: 50px;
  width: 45px;
  margin-left: 250px;
}

#tour-price {
  border-radius: 30px;
  color: rgb(206, 68, 68);
  font-size: 20px;
  padding: 5px;
  right: 20px;
  border-radius: 50px;
  background-color: #f7f4f4;
  width: 140px;
  float: right;
  margin-left: 100px;
  
}

.tour-info {
  padding: 20px;
  margin-left: 30px;
 
}

.tour-title {
text-align: center;
padding-top: 10px;
}

.tour-destination {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.tour-description {
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 13px;
  margin-left: 30px;
}

.container-deal{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding-top: 100px;
  margin-left: 10px;
  margin-right: 80px;
 
}


#top-d{
  font-weight: bold;
  font-size: x-large;
 text-align: left;
  margin-left: 70px;
  padding-top: 20px;
  text-overflow: initial;
}

/* footer */


.footer-distributed{
	background:#f1f2f3;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #1f1d1d;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #242222;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #e7ecf0;
	color: #2c2b2b;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #363434;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #3b3838;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #333131;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #f3f5f7;
	border-radius: 2px;

	font-size: 20px;
	color: #2e2c2c;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
/* booking button */
.book-tour-btn {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-tour-btn:hover {
  background-color: #0c7cd5;
}

.about-container{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr  1fr;
  column-gap: 5px;
  padding-top: 60px;
}
img{
  max-width:100%;
  max-height: 100%;
}

.about-text p{
  font-size: 20px;
  line-height: 30px;
  padding-top: 20px;
  margin-right: 30px;
}
.about-text h1{
  text-align: center;
    background-repeat: repeat-x;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/star.svg");
    background-position: 0 1.06em;
    background-size: 10px ;
  }
  .subscribe{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr  1fr;
    column-gap: 5px;
    padding-top: 60px;
    background-color: #2c3e50;
    height: 250px;
  }
  .sub-text{
    font-size: medium;
    color: white;
    line-height: 30px;
    margin-left: 50px;
    margin-bottom: 40px;
  }
  .sub-button{
    font-size: medium;
    color: white;
    line-height: 30px;
    margin-left: 50px;
    margin-bottom: 40px;
   
  }
#subscribe{
  height: 30px;
  background-color: #0c7cd5;
  color: white;
  border-radius: 9px;
  font-size: 20px;
  width: 150px;

}
#subscibe{
  width: 200px;
  height: 45px;
  background-color: white;
  border-radius: 20pxe;
  
}
  .modal {
    display: grid;
    position: relative;
    margin-left: 60px;
    top: 23px;
    width: 70%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(250, 248, 248, 0.4); 
  }
  
  .close {
    color: #0f0e0e;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .form-input{
    line-height: 30px;
    border-radius: 5px;
    background-color: #2196F3;
    font-size: medium;
    
  }
 #feedback button{
  width: 50px;

  }
  #myBtn{
    width: 100px;
    height: 30px;
    background-color: #0c7cd5;
    border-radius: 8px;
    font-size: medium;
    color: white;
  }
  /* adnventure styles */
  
  #wrapper {
   
    margin-left: 70px;
  }
  #wrapper h3{
    font-size: 30px;
    padding-left: 70px;
    padding-top: 80px;
    text-align: justify;
    
  }
  .card-style{
    margin:40px 12px;
    width:360px;
    height:240px;
    background-color:#ffffff;
    border-bottom:4px solid #2196f3;
    border-radius:3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.11);
    overflow:hidden;
    float:left;
    transition:.25s;
    cursor:pointer;
  }
  .card:hover {
    margin-top:35px;
    transition:.125s;
  }
  .card-style img {
    width: auto;
    height:220px;
  }
  .content {
    margin-top:-50px;
  }
  .date {
    font-family:'Roboto';
    width:60px;
    border-right:1px dashed #c6cacd;
    float:left;
    height:70px;
    text-align:center;
    color:#495f71;
    padding:9px 0;
  }
  .numeric {
    font-size:18px;
  }
  .month {
    font-size:11px;
    text-transform:uppercase;
    display:block;
    font-weight:500;
    letter-spacing:0.9px;
    line-height:12px;
  }
  .info {
    float:left;
    padding:9px 18px;
  }
  .trip-name {
    font-family:'Roboto';
    font-weight:100;
    font-size: 13px;
    color:#495f71;
  }
  .trip-contains {
    display:block;
    font-size:16px;
    padding:6px 0;
  }
  .trip-contains i {
    padding-right:3px;
    color:#7DCD75;
  }
  i.draft {
    color:#c6cacd;
  }
  .clip-polygon {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 167px, 53px 167px, 60px 80%, 67px 167px, 0% 167px);
  }
  